@import url(https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css);
 
:root{
    --primary: #ffffff;
    --light: #ffffff;
    --dark: #2b2b2b;
    --border: #cccccc;
    --initial-clip-path: 0%;
    --swiper-theme-color: var(--primary);
    --swiper-pagination-bullet-size: 1em;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-pagination-progressbar-bg-color: #ea770354;
}


 @font-face {
    font-family: Lato;
    src: url(/font/PlusJakartaSans-Regular.ttf);
  }
  
  html {
    font-family: Lato;
  }
  @font-face {
    font-family: Lato;
    src: url(/font/PlusJakartaSans-Regular.ttf);
    font-weight: bold;
  } 

body {
    background-color: #212121;
    color: white;
} 

/*{}*/

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 0;
}

h2>.podtrzeni {
    text-decoration: underline #212121 2px;
    width: 100%;

}


.dot {
    padding: 0;
    display: inline-block;
    width: var(--swiper-pagination-bullet-size, 1em);
    height: var(--swiper-pagination-bullet-size, 1em);
    border: 3px solid var(--swiper-theme-color, --primary);
    background-color: unset;
    border-radius: 50%;
  }

  .dot:hover{
    background-color: var(--primary);
  }

.podsebe {
    display: flex;
    flex-direction: column;
}

header>* {
    text-align: center;
}

.o_mne {
    margin: 0 4em;
    text-align: center;
    margin-left: 5%;
    width: 90%;
}

.nadpis__obal{
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
}

.nadpis{
    width: fit-content;
    border-bottom: 2px solid #14FFEC;
    padding-bottom: .25em;
}

.fotit__nadpis{
    display: block;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #14FFEC;
}

.fotit__text{
    margin: 0;
    font-size: larger;
}

.o_mne>p {
    color: #939393;
}

.fotit>h2 {
    text-align: center;
}

.kontakt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.cenik>h2 {
    text-align: center;
}

.cenik h3 {
    color: #14FFEC;
}

.cyan {
    color: #14FFEC;
}

.header__img--home{
    display: flex;
    justify-content: right;
}

.header__img--gallery{
    display: flex;
    justify-content: left;
}

.header__odkaz{
    display: flex;
    justify-content: right;
}


.gridarea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    align-items: center;
    width: 100%;
}

.d{
    object-fit: cover;
    width: 100%;
}



.gridarea>img {
    height: 10em;
    
}

.icon {
    margin-right: 0.5em;
    margin-top: 0.25em;
    max-width: 20px;
}
.center {
    text-align: center;
    margin-left: 5%;
    width: 90%;
    color: #939393;
   
}


.nevyrazny {
    color: #939393;
    font-size: larger;
}
.stred {
    text-align: center;
}

.gal {
    display: grid;
    grid-auto-columns: 400px 2;
    flex-direction: row;
    flex-wrap: wrap;
    
}

ul{
    padding: .5em;
}

.gallery_item {
    display: block;
}

figure {
    margin: 0;
}

.sirka {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vyska {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gap {
    margin-bottom: 1em;
}

.o_mne__foto{
    display: none;
}

.grid__home{
    margin: 1em;
}
@media (min-width: 600px) {
    
    .icon {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0;
        max-width: 40px;
    }

    main, header {
        max-width: 90%;
        margin-left: 5%;

    }

    h1 {
        font-size: 5em;
    }

    .nevyrazny {
        font-size: 3em;
    }

    main {
        font-size: 2em;
    }

    .icon {
        width: 32px;
    }
    .o_mne__content{
        display: flex;
        align-items: center;
    }

    .o_mne__foto{
        display: block;
    }

    .gridarea {
        text-align: center;
    }

    .d1, .d2, .d3, .d4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        
    }

    .d1, .d3 {
        margin-right: 2%;
    }

    .d2, .d4 {
        margin-left: 2%;
    }

    .cenik{
        border: 2px solid #14FFEC;
    }

    .cenik__poznamka{
        max-width: 350px;
    }
        
    .cenik__obal{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .fotit{
        margin-bottom: .5em;
    }

    .galerie__home{
        border: 2px solid #14FFEC;
        margin-top: .5em;
        padding: 0 .5em .5em .5em;
    }

    .o_mne{
        grid-area: o-mne;
    }

    .fotit{
        grid-area: fotit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        max-width: 400px;
    }

    .cenik{
        grid-area: cenik;
        
    }

    .galerie__home{
        grid-area: gal-home;
        min-width: 560px;
    }

    .grid__home{
        display: grid;
        margin: .5em;
        grid-template-areas: 
        'o-mne o-mne'
        'cenik cenik'
        'gal-home fotit'
        ;
        justify-items: center;
    }

    .gal__gallery{
        display: grid;

    }


}

@media (min-width: 1400px) {
    main, header {
        max-width: 90%;
        margin-left: 5%;

    }

    .gal__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 3 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 2 / 3 / 3; }
        .div4 { grid-area: 3 / 1 / 5 / 2; }
        .div5 { grid-area: 3 / 2 / 5 / 3; }
        .div6 { grid-area: 5 / 1 / 7 / 2; }
        .div7 { grid-area: 5 / 2 / 7 / 3; }
        .div8 { grid-area: 7 / 1 / 9 / 2; }
        .div9 { grid-area: 7 / 2 / 9 / 3; }
        .div10 { grid-area: 9 / 1 / 11 / 2; }
        .div11 { grid-area: 9 / 2 / 11 / 3; }
        .div12 { grid-area: 11 / 1 / 13 / 2; }
        .div13 { grid-area: 11 / 2 / 13 / 3; }
        
}